In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("roty.csv")

In [3]:
df2 = pd.read_csv("NBA_Rookies_by_Year.csv")

In [4]:
df2.head()

,index,Name,Year Drafted,GP,MIN,PTS,FGM,FGA,FG%,3P Made,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
0,0,Brandon Ingram,2016.0,36.0,27.4,7.4,2.6,7.6,34.7,0.5,...,2.3,69.9,0.7,3.4,4.1,1.9,0.4,0.4,1.3,7.3
1,1,Andrew Harrison,2016.0,35.0,26.9,7.2,2.0,6.7,29.6,0.7,...,3.4,76.5,0.5,2.0,2.4,3.7,1.1,0.5,1.6,7.9
2,2,Rodney McGruder,2016.0,30.0,25.7,5.8,2.1,5.3,40.0,0.8,...,1.0,72.4,1.5,2.0,3.5,1.5,0.7,0.3,0.7,7.5
3,3,Joel Embiid,2016.0,22.0,24.8,18.9,6.2,13.4,46.4,1.2,...,6.8,77.3,2.0,5.4,7.3,1.9,0.8,2.4,3.8,18.8
4,4,Dario Saric,2016.0,32.0,24.1,9.5,3.5,9.0,38.7,1.3,...,1.7,77.4,1.2,4.7,5.9,1.7,0.5,0.2,1.8,10.1

In [5]:
df1.head()

        Player Name  Year
0   Oscar Robertson  1961
1  Wilt Chamberlain  1960
2      Walt Bellamy  1962
3  Terry Dischinger  1963
4       Jerry Lucas  1964

In [6]:
df1["roy"]=1

In [7]:
df3 = pd.merge(df2,df1, how="left", left_on="Name", right_on="Player Name")

In [8]:
df3.head()

,index,Name,Year Drafted,GP,MIN,PTS,FGM,FGA,FG%,3P Made,...,DREB,REB,AST,STL,BLK,TOV,EFF,Player Name,Year,roy
0,0,Brandon Ingram,2016.0,36.0,27.4,7.4,2.6,7.6,34.7,0.5,...,3.4,4.1,1.9,0.4,0.4,1.3,7.3,NaN,NaN,NaN
1,1,Andrew Harrison,2016.0,35.0,26.9,7.2,2.0,6.7,29.6,0.7,...,2.0,2.4,3.7,1.1,0.5,1.6,7.9,NaN,NaN,NaN
2,2,Rodney McGruder,2016.0,30.0,25.7,5.8,2.1,5.3,40.0,0.8,...,2.0,3.5,1.5,0.7,0.3,0.7,7.5,NaN,NaN,NaN
3,3,Joel Embiid,2016.0,22.0,24.8,18.9,6.2,13.4,46.4,1.2,...,5.4,7.3,1.9,0.8,2.4,3.8,18.8,NaN,NaN,NaN
4,4,Dario Saric,2016.0,32.0,24.1,9.5,3.5,9.0,38.7,1.3,...,4.7,5.9,1.7,0.5,0.2,1.8,10.1,NaN,NaN,NaN

In [9]:
#2003 year missing

In [10]:
df3["roy"]=df3.roy.fillna(0)

In [11]:
df3.head()

,index,Name,Year Drafted,GP,MIN,PTS,FGM,FGA,FG%,3P Made,...,DREB,REB,AST,STL,BLK,TOV,EFF,Player Name,Year,roy
0,0,Brandon Ingram,2016.0,36.0,27.4,7.4,2.6,7.6,34.7,0.5,...,3.4,4.1,1.9,0.4,0.4,1.3,7.3,NaN,NaN,0.0
1,1,Andrew Harrison,2016.0,35.0,26.9,7.2,2.0,6.7,29.6,0.7,...,2.0,2.4,3.7,1.1,0.5,1.6,7.9,NaN,NaN,0.0
2,2,Rodney McGruder,2016.0,30.0,25.7,5.8,2.1,5.3,40.0,0.8,...,2.0,3.5,1.5,0.7,0.3,0.7,7.5,NaN,NaN,0.0
3,3,Joel Embiid,2016.0,22.0,24.8,18.9,6.2,13.4,46.4,1.2,...,5.4,7.3,1.9,0.8,2.4,3.8,18.8,NaN,NaN,0.0
4,4,Dario Saric,2016.0,32.0,24.1,9.5,3.5,9.0,38.7,1.3,...,4.7,5.9,1.7,0.5,0.2,1.8,10.1,NaN,NaN,0.0

In [12]:
df3.columns

Index(['index', 'Name', 'Year Drafted', 'GP', 'MIN', 'PTS', 'FGM', 'FGA',
       'FG%', '3P Made', '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'EFF', 'Player Name', 'Year', 'roy'],
      dtype='object')

In [13]:
model_dat=df3[["GP", "MIN", 'PTS', 'FGM', 'FGA',
       'FG%', '3P Made', '3PA', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'EFF', 'roy']]

In [14]:
model_dat.dropna(inplace=True)

C:\Users\DradenB\AppData\Local\Temp\ipykernel_6936\3612881861.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  model_dat.dropna(inplace=True)

In [15]:
X = model_dat.drop(["roy"], axis=1)

In [16]:
y = model_dat[["roy"]]

In [ ]:

from sklearn.preprocessing import StandardScaler


# Creating the data frame
details = {
	'col1': [1, 3, 5, 7, 9],
	'col2': [7, 4, 35, 14, 56]
}

# creating a Dataframe object
df = pd.DataFrame(details)

# define standard scaler
scaler = StandardScaler()

# transform data
df = scaler.fit_transform(df)

In [28]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
# Create the linear regression object
model = LinearRegression()

# Split the data into independent (X) and dependent (y) variables
X = model_dat.drop(["roy"], axis=1)
scaler=StandardScaler()
X = scaler.fit_transform(X)
y = model_dat[["roy"]]

# Fit the model to the data
model.fit(X, y)

# Print the model coefficients
print(model.coef_)
print(model.intercept_)

[[-0.01283706 -0.08682581  0.03050388 -0.05404569  0.04563366 -0.03355874
  -0.01223664 -0.00213683 -0.07173947  0.07841877 -0.0131129  -0.04436362
   0.02189355 -0.06259982 -0.01408369 -0.03569355 -0.01946933 -0.01452214
   0.26879634]]
[0.02340702]

In [ ]:
# as eff increases probablity of roty goes up

In [27]:
model_dat.head()

,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,FTM,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF,roy
0,36.0,27.4,7.4,2.6,7.6,34.7,0.5,2.1,1.6,2.3,69.9,0.7,3.4,4.1,1.9,0.4,0.4,1.3,7.3,0.0
1,35.0,26.9,7.2,2.0,6.7,29.6,0.7,2.8,2.6,3.4,76.5,0.5,2.0,2.4,3.7,1.1,0.5,1.6,7.9,0.0
2,30.0,25.7,5.8,2.1,5.3,40.0,0.8,2.6,0.7,1.0,72.4,1.5,2.0,3.5,1.5,0.7,0.3,0.7,7.5,0.0
3,22.0,24.8,18.9,6.2,13.4,46.4,1.2,3.0,5.3,6.8,77.3,2.0,5.4,7.3,1.9,0.8,2.4,3.8,18.8,0.0
4,32.0,24.1,9.5,3.5,9.0,38.7,1.3,3.6,1.3,1.7,77.4,1.2,4.7,5.9,1.7,0.5,0.2,1.8,10.1,0.0

In [18]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2014 entries, 0 to 2013
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         2014 non-null   int64
 1   Name          1538 non-null   object
 2   Year Drafted  1538 non-null   float64
 3   GP            1538 non-null   float64
 4   MIN           1538 non-null   float64
 5   PTS           1538 non-null   float64
 6   FGM           1538 non-null   float64
 7   FGA           1538 non-null   float64
 8   FG%           1538 non-null   float64
 9   3P Made       1538 non-null   float64
 10  3PA           1538 non-null   float64
 11  3P%           1538 non-null   object
 12  FTM           1538 non-null   float64
 13  FTA           1538 non-null   float64
 14  FT%           1538 non-null   float64
 15  OREB          1538 non-null   float64
 16  DREB          1538 non-null   float64
 17  REB           1538 non-null   float64
 18  AST           1538 non-null   float64
 19  STL           1538 non-null   float64
 20  BLK           1538 non-null   float64
 21  TOV           1538 non-null   float64
 22  EFF           1538 non-null   float64
 23  Player Name   36 non-null     object
 24  Year          36 non-null     float64
 25  roy           2014 non-null   float64
dtypes: float64(22), int64(1), object(3)
memory usage: 424.8+ KB

In [19]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1538 entries, 0 to 1537
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   GP       1538 non-null   float64
 1   MIN      1538 non-null   float64
 2   PTS      1538 non-null   float64
 3   FGM      1538 non-null   float64
 4   FGA      1538 non-null   float64
 5   FG%      1538 non-null   float64
 6   3P Made  1538 non-null   float64
 7   3PA      1538 non-null   float64
 8   FTM      1538 non-null   float64
 9   FTA      1538 non-null   float64
 10  FT%      1538 non-null   float64
 11  OREB     1538 non-null   float64
 12  DREB     1538 non-null   float64
 13  REB      1538 non-null   float64
 14  AST      1538 non-null   float64
 15  STL      1538 non-null   float64
 16  BLK      1538 non-null   float64
 17  TOV      1538 non-null   float64
 18  EFF      1538 non-null   float64
 19  roy      1538 non-null   float64
dtypes: float64(20)
memory usage: 252.3 KB